@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200;400;700&family=Outfit:wght@100;300;400&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Noto Serif SC", serif;
  --font-sans: "Outfit", sans-serif;
  --color-cinematic-bg: #f4f1ea;
  --color-cinematic-paper: #ffffff;
  --color-cinematic-accent: #2c2c2c;
  --color-ink-red: #a61b1b;
}

@layer base {
  body {
    @apply bg-cinematic-bg text-stone-800 antialiased;
  }
}

.writing-vertical-rl {
  writing-mode: vertical-rl;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
